<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
</head>

<style>
      .toast-success{
        background-color: green !important;
    }
    .toast-error{
        background-color: red !important;
    }
</style>

<body>
    {% include 'side_nav.html' %}


    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        {% include 'header.html' %}
        <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6 col-md-6">
                  <h1>Manage Events</h1>
                </div>
               
              </div>
            </div>
            <!-- /.container-fluid -->
          </section>

          <section class="content">
            <div class="row">
              <div class="col-12">
    
                <!-- /.card -->
    
                <div class="card">
                  <div class="container mt-3">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#EventTypeTab">Book Event</a>
                      </li>
                     
                    </ul>
    
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div id="EventTypeTab" class="container tab-pane active"><br>
    
                        <div class="card-body">
                          <div class="container">
                            <div class="card col-md-12 p-2 mb-4">
                             
                              
                                 <form action="" method="post" id="event_add">
                                    <div class="row ">
                                        <div class="form-group col-md-4">
                                            <small style="text-align: left; display: block;color: #7E8388">Select Event Type</small>
                                            <select class="form-control " name="event_type" id="Event_Type_ID" required >
                                              <option value="">Select Event Type</option>
                                            </select>
                                          </div>

                                          <div class="form-group col-md-4">
                                            <small style="text-align: left; display: block;color: #7E8388">Select venue</small>
                                            <select class="form-control " name="venue" id="Venue_ID" required >
                                              <option value="">Select venue</option>
                                            </select>
                                          </div>

                                        <div class="col-md-4 form-group">
                                            <small style="text-align: left; display: block;color: #7E8388">Date of Event</small>
                                            <input type="date" name="date_of_event" id="" required class="form-control">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <small style="text-align: left; display: block;color: #7E8388">Duration</small>
                                                <input type="number" name="duration" id="" required class="form-control">
                                                </div>

                                                <div class="col-md-4 form-group">
                                                    <small style="text-align: left; display: block;color: #7E8388">People accomodate</small>
                                                    <select class="form-control " name="" id="PeopleListing_ID" required >
                                                        <option value="">Select No of People </option>
                                                      </select>
                                                    </div>

                                                    <input type="hidden" name="no_of_participants" id="PeopleListing_Value">
                                     
                                                    <div class="col-md-4 form-group">
                                                        <small style="text-align: left; display: block;color: #7E8388">Estimated Price</small>
                                                        <input type="number" name="estimation_price" id="Estimated_Price_Id" value="" required class="form-control" readonly>
                                                        </div>
                                     </div>
                                     <div class="row mt-4">
                                        <div class="col-md-3"  style="margin: auto;">
                                            <button class="btn btn-success">Save</button>
                                         </div>
                                     </div>
                                   
                                     
                                 </form>
                                <!-- </form> -->
                              
                            </div>

                         <h5 class="mt-4 ">Booking List</h5>
                         <hr>
                            <!-- datatable -->
                            <table id="example" class="table table-striped mt-4" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Event Type</th>
                                        <th>Venue Address </th>
                                        <th>Event Date</th>
                                        <th>Duration</th>
                                        <th>No of people(less than or equal)</th>
                                        <th>Estimated Price($)</th>
                                        <th>Status</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="event_list">
                              
                                </tbody>
                             
                            </table>
                            <!-- end datatable -->
                          </div>
    
                        </div>
    
                      </div>
                      <!-- EventType Tab end -->
                    </div>
                    <!-- Tab panes -->
    
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                
       
          </section>

          <!-- Button trigger modal -->
          <div class="container mt-5">
            <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-outline-success btn-lg float-right" data-toggle="modal" data-target="#exampleModal">
        Open Modal
      </button> -->
      
      <!-- Modal -->

        
    </div>


    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Edit Venue</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="" method="put">
                    <div class="row ">
                     <div class="col-md-12 form-group">
                     <small style="text-align: left; display: block;color: #7E8388">Name</small>
                     <input type="text" name="name" id="" required class="form-control">
                     </div>

                     <div class="col-md-12 form-group">
                        <small style="text-align: left; display: block;color: #7E8388">Street</small>
                        <input type="text" name="street" id="" required class="form-control">
                        </div>

                        <div class="col-md-12 form-group">
                            <small style="text-align: left; display: block;color: #7E8388">City</small>
                            <input type="text" name="city" id="" required class="form-control">
                            </div>
                            <div class="col-md-12 form-group">
                                <small style="text-align: left; display: block;color: #7E8388">Price per day</small>
                                <input type="number" name="price_per_day" id="" required class="form-control">
                                </div>

                                <div class="col-md-12 form-group">
                                    <small style="text-align: left; display: block;color: #7E8388">People accomodate</small>
                                    <input type="number" name="people_accomadate" id="" required class="form-control">
                                    </div>
                     
                     </div>
                     <!-- <div class="row mt-4">
                        <div class="col-md-3"  style="margin: auto;">
                            <button class="btn btn-success">Save</button>
                         </div>
                     </div> -->
                   
                     
                 </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success">Save</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="/static/js/service.js"></script>

    <script>
      var token = '{{csrf_token}}';
        $(document).ready(function() {
    $('#example').DataTable();

    EventTypeDropDown('Event_Type_ID')
    getEvent()
} );


$('#Event_Type_ID').change( function(){

VenueDropDown('Venue_ID')


})


$('#Venue_ID').change( function(){

  PeopleDropDown('PeopleListing_ID',$('#Event_Type_ID').val(),$('#Venue_ID').val())

})

$('#PeopleListing_ID').change( function(){

getPrice($('#PeopleListing_ID').val())


})



function getPrice(id){
    $.ajax({
    type: "GET",
    url: `/api/price/?id=${id}`,

    success: function (response, textStatus, xhr) {
      let price = JSON.parse(JSON.stringify(response));
      console.log(price,'price');
    //   $('#venueListing').html('')
      if (xhr.status === 200) {
          for (const {id,event_type,venue,estimation_price,no_of_participants} of price) {

            $('#Estimated_Price_Id').val(estimation_price)
            $('#PeopleListing_Value').val(no_of_participants)



          }
   
      }
    },
    error: function (response, textStatus, xhr) {
      let error;
      var jsonarr = JSON.parse(JSON.stringify(response));
      errorMessage(xhr, textStatus, response)
    }
  });
 }

 $("#event_add").submit(function (event) {
   
   event.preventDefault();
   var form = $(this);
   var action = form.attr("action");
   var data = form.serializeArray();
   $.ajax({
    headers: { "X-CSRFToken": token },
     type: "POST",
     url: "/api/event/",
     dataType: 'json',
     data: getFormData(data),
     cache: false,
     success: function (response, textStatus, xhr) {
       var jsonarr = JSON.parse(JSON.stringify(response));

       if (xhr.status === 200) {
         toastr.success("Requested  Successfully");
        //  getPrices($('#Event_Type_ID').val(),$('#Venue_ID').val())     
        //  window.location='/dashboard'    
        $('#event_add').trigger('reset')
        getEvent()
       } else {
         toastr.error("SomeThing Went Wrong");
       }
     },
     error: function (response, textStatus, xhr) {
       let error;
       var jsonarr = JSON.parse(JSON.stringify(response));
       errorMessage(xhr, textStatus, response)
      
     }
   });

 });


 function getEvent(){
    $.ajax({
    type: "GET",
    url: `/api/event/?customer=`,

    success: function (response, textStatus, xhr) {
      let price = JSON.parse(JSON.stringify(response));
      console.log(price,'price');
      $('#event_list').html('')
      if (xhr.status === 200) {
          for (const {id,date_of_event,no_of_participants,status,duration,estimation_price,venue,event_type} of price) {
            $('#event_list').append( ` <tr>
                                        <td>${event_type}</td>
                                        <td>${venue} </td>
                                        <td>${date_of_event} </td>
                                        <td>${duration} </td>
                                        <td>${no_of_participants} </td>
                                        <td>${estimation_price} </td>
                                        <td>${status} </td>
                                    </tr>`)
          }
   
      }
    },
    error: function (response, textStatus, xhr) {
      let error;
      var jsonarr = JSON.parse(JSON.stringify(response));
      errorMessage(xhr, textStatus, response)
    }
  });
 }



 




    </script>
</body>
</html>