<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

<style>
    .toast-success{
        background-color: green !important;
    }
    .toast-error{
        background-color: red !important;
    }
</style>
</head>
<body>
    {% include 'side_nav.html' %}


    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        {% include 'header.html' %}
        <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6 col-md-6">
                  <h1>Manage Events</h1>
                </div>
               
              </div>
            </div>
            <!-- /.container-fluid -->
          </section>

          <section class="content">
            <div class="row">
              <div class="col-12">
    
                <!-- /.card -->
    
                <div class="card">
                  <div class="container mt-3">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#EventTypeTab">Add Event Types</a>
                      </li>
                     
                    </ul>
    
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div id="EventTypeTab" class="container tab-pane active"><br>
    
                        <div class="card-body">
                          <div class="container">
                            <div class="card col-md-12 p-2 mb-4">
                             
                              
                                 <form action="" method="post" id="event_form">
                                    <div class="row ">
                                     <div class="col-md-6 form-group">
                                     <small style="text-align: left; display: block;color: #7E8388">Name</small>
                                     <input type="text" name="name"  required class="form-control">
                                     </div>
                                     <div class="col-md-3"  style="margin: auto;">
                                        <button type="submit" class="btn btn-success">Save</button>
                                     </div>
                                     </div>
                                   
                                     
                                 </form>
                                <!-- </form> -->
                              
                            </div>


                            <!-- datatable -->
                            <table id="example" class="table table-striped mt-4" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Operate</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="eventTypesListing">
                                   
                                </tbody>
                             
                            </table>
                            <!-- end datatable -->
                          </div>
    
                        </div>
    
                      </div>
                      <!-- EventType Tab end -->
                    </div>
                    <!-- Tab panes -->
    
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                
     
          </section>

          
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Edit Event Type</h4>
                  <button type="button" class="close" id="closeButtonModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post" id="update_event_form">
                <div class="modal-body">
                        <input type="hidden" name="" id="editEventPk">
                        <div class="row ">
                         <div class="col-md-6 form-group">
                         <small style="text-align: left; display: block;color: #7E8388">Name</small>
                         <input type="text" name="name" id="editEvent" required class="form-control" >
                         </div>
                         <!-- <div class="col-md-3"  style="margin: auto;">
                      
                         </div> -->
                         </div>
                       
                         
                     
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" onclick="updateEvent()">Update</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
              </div>
            </div>
          </div>

    </div>
    <script src="/static/js/errors.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script>
        var token = '{{csrf_token}}';
  $(document).ready(function() {
    $('#example').DataTable();

  });



$("#event_form").submit(function (event) {
   
   event.preventDefault();
   var form = $(this);
   var action = form.attr("action");
   var data = form.serializeArray();
   $.ajax({
    headers: { "X-CSRFToken": token },
     type: "POST",
     url: "/api/event_type/",
     dataType: 'json',
     data: getFormData(data),
     cache: false,
     success: function (response, textStatus, xhr) {
       var jsonarr = JSON.parse(JSON.stringify(response));

       if (xhr.status === 200) {
         toastr.success('Saved  Successfully');     
        //  window.location='/dashboard'    
        $('#event_form').trigger('reset')
        getEvents()
       } else {
         toastr.error("SomeThing Went Wrong");
       }
     },
     error: function (response, textStatus, xhr) {
       let error;
       var jsonarr = JSON.parse(JSON.stringify(response));
       errorMessage(xhr, textStatus, response)
      
     }
   });

 });

 function getEvents(){
    $.ajax({
    type: "GET",
    url: `/api/event_type/`,

    success: function (response, textStatus, xhr) {
      let event_types = JSON.parse(JSON.stringify(response));
      $('#eventTypesListing').html('')
      if (xhr.status === 200) {
          for (const {id,name} of event_types) {
            $('#eventTypesListing').append( `<tr>
                                        <td>${name}</td>
                                        <td  onclick="getEventType(${id})" data-toggle="modal" data-target="#exampleModal"><span class="iconify" data-icon="bx:edit" style="font-size: 20px;
                                            color: blue;
                                        cursor:pointer"></span></td>
                                    </tr>`)
          }
   
      }
    },
    error: function (response, textStatus, xhr) {
      let error;
      var jsonarr = JSON.parse(JSON.stringify(response));
      errorMessage(xhr, textStatus, response)
    }
  });
 }


 getEvents()

 function getFormData(data) {
    var unindexed_array = data;
    var indexed_array = {};

    $.map(unindexed_array, function(n, i) {
      indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}


function  getEventType(id){
    $.ajax({
    type: "GET",
    url: `/api/event_type/?id=${id}`,

    success: function (response, textStatus, xhr) {
      let event_type = JSON.parse(JSON.stringify(response));
       console.log(event_type,'event_type');
      if (xhr.status === 200) {
        //   for (const {id,name} of event_types) {
          $('#editEvent').val(event_type[0]['name'])
          $('#editEventPk').val(event_type[0]['id'])
        //   }
   
      }
    },
    error: function (response, textStatus, xhr) {
      let error;
      var jsonarr = JSON.parse(JSON.stringify(response));
      errorMessage(xhr, textStatus, response)
    }
  });
}

function updateEvent(){
    event.preventDefault()
    $.ajax({
          headers: { "X-CSRFToken": token },
          type: "PUT",
          url: `/api/event_type/`,
          data: {
           name: $('#editEvent').val(),
         id: $('#editEventPk').val()
          },
          success: function (response, textStatus, xhr) {

            var service = JSON.parse(JSON.stringify(response));
            if (xhr.status === 200) {
              toastr.success("Updated Successfully");
              $('#closeButtonModal').trigger('click')
              getEvents()
            } else {
              toastr.error("Something went wrong try later");

            }
          },
          error: function (response, textStatus, xhr) {
            let error;
            var jsonarr = JSON.parse(JSON.stringify(response));
            errorMessage(xhr, textStatus, response)

          }

        });
}


    </script>
</body>
</html>