<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.display{
  font-weight: 700;

}
.card{
  background-color: blueviolet !important;
    color: white;

}
</style>
 
</head>
<body>

   {% include 'side_nav.html' %}


    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        {% include 'header.html' %}
       
        <div class="row mb-4">
          <div class="form-group col-md-4">
              <small style="text-align: left; display: block;color: #7E8388">Select</small>
              <select class="form-control "  id="Status_ID" required>
                <option value="Requested" selected>Requested</option>
                <option value="Accepted">Accepted</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
<!-- 
            <div class="form-group col-md-4">
              <small style="text-align: left; display: block;color: #7E8388">Filter Based on Date</small>
               <input type="date" class="form-control">
            </div> -->
       </div>
     <h5 class="mt-4">List of requests</h5>
     <hr>
       <div class="row " id="event_list">

       </div>


       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Final Price</h4>
              <button type="button"   id="closeButtonModal" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                          <!-- <form action="" method="post"> -->
                            <form action="" method="post" id="finalPriceAdd">
                            <div class="row ">
                              <input type="hidden" name="event" id="eventPk">
                            
                              <div class="form-group col-md-4">
                                <small style="text-align: left; display: block;color: #7E8388">Final Price</small>
                                <input type="number" name="price" id="FinalPrice" required class="form-control">
                              </div>
           

                              <div class="col-md-3 mt-3"  style="margin: auto;">
                                <button type="submit" class="btn btn-success">Update</button>
                             </div>
                             
                             </div>

                            </form>
                             
            </div>
            <!-- <div class="modal-footer">
                <button class="btn btn-success">Save</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <script src="/static/js/service.js"></script>
<script>

var token = '{{csrf_token}}';

$(document).ready(function() {
  getEvent("Requested")
    
    // EventTypeDropDown('Event_Type_ID')
} );

$('#Status_ID').change(function(){

  getEvent($('#Status_ID').val())

})



function getEvent(status){
    $.ajax({
    type: "GET",
    url: `/api/event/?status=${status}`,

    success: function (response, textStatus, xhr) {
      let price = JSON.parse(JSON.stringify(response));
      console.log(price,'price');
      $('#event_list').html('')
      if (xhr.status === 200) {
          for (const {id,date_of_event,no_of_participants,status,duration,estimation_price,venue,event_type,customer} of price) {

            let aprovebuttons = "";
            if(status == "Requested"){
            aprovebuttons =  `<div class="row mt-4">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">

                      <button class="btn btn-success" onclick="accept(${id},${estimation_price})"  data-toggle="modal" data-toggle="modal" data-target="#exampleModal"> Accept</button>
                    </div>
                    <div class="col-md-3">

                      <button class="btn btn-danger" onclick="statuschange('Rejected',${id})"> Reject</button>
                    </div>
                    <div class="col-md-3"></div>
                  </div>`
            }

            $('#event_list').append( `<div class="col-md-6 mt-4">
                    <div class="card">
                    <div class="card-body">
                      <div class="col-md-12">

                        <span>Event Type : </span> <span class="display">${event_type}</span>
                      </div>

                      <div class="col-md-12">

                        <span>Venue Address : </span> <span class="display">${venue}</span>
                      </div>
            
                      <div class="col-md-12">

                        <span>Date of Event : </span> <span class="display">${date_of_event}</span>
                      </div>
                      <div class="col-md-12">

                        <span>No of Participants : </span> <span class="display">${no_of_participants}</span>
                      </div>

                      <div class="col-md-12">

                        <span>Duration : </span> <span class="display">${duration}</span>
                      </div>
                      <div class="col-md-12">

                        <span>Estimated Price : </span> <span class="display">${estimation_price}</span>
                      </div>
                      <div class="col-md-12">

                        <span>Customer Name : </span> <span class="display">${customer}</span>
                      </div>
                    <div class="col-md-12">

                      <span>Customer Contact Number : </span> <span class="display">8790353282</span>
                    </div>
                    <div class="col-md-12">

                      <span>Status : </span> <span class="display">${status}</span>
                    </div>
                    ${aprovebuttons}
            
                </div>
            </div>
           
           
         </div>`)
          }
   
      }
    },
    error: function (response, textStatus, xhr) {
      let error;
      var jsonarr = JSON.parse(JSON.stringify(response));
      errorMessage(xhr, textStatus, response)
    }
  });
 }


 function statuschange(status,id){


    event.preventDefault()
    $.ajax({
          headers: { "X-CSRFToken": token },
          type: "PUT",
          url: `/api/event/`,
          data: {
           id: id,
           status:status,

          },
          success: function (response, textStatus, xhr) {

            var service = JSON.parse(JSON.stringify(response));
            if (xhr.status === 200) {
              toastr.success(`${status} Successfully`);
              $('#closeButtonModal').trigger('click')
              getEvent($('#Status_ID').val())
            } else {
              toastr.error("Something went wrong try later");

            }
          },
          error: function (response, textStatus, xhr) {
            let error;
            var jsonarr = JSON.parse(JSON.stringify(response));
            errorMessage(xhr, textStatus, response)

          }

        });

   

 }



 $("#finalPriceAdd").submit(function (event) {
   
   event.preventDefault();
   var form = $(this);
   var action = form.attr("action");
   var data = form.serializeArray();
   $.ajax({
    headers: { "X-CSRFToken": token },
     type: "POST",
     url: "/api/final_price/",
     dataType: 'json',
     data: getFormData(data),
     cache: false,
     success: function (response, textStatus, xhr) {
       var jsonarr = JSON.parse(JSON.stringify(response));

       if (xhr.status === 200) {
         toastr.success('Saved  Successfully');
        //  getPrices($('#Event_Type_ID').val(),$('#Venue_ID').val())     
        //  window.location='/dashboard'   
        statuschange('Accepted',$('#eventPk').val()) 
        $('#closeButtonModal').trigger('click')
        $('#finalPriceAdd').trigger('reset')
       } else {
         toastr.error("SomeThing Went Wrong");
       }
     },
     error: function (response, textStatus, xhr) {
       let error;
       var jsonarr = JSON.parse(JSON.stringify(response));
       errorMessage(xhr, textStatus, response)
      
     }
   });

 });

 function accept(id,price){
   $('#eventPk').val(id)
   $('#FinalPrice').val(price)
 }
</script>


</body>
  </html>
