<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
      <a href="/dashboard" class="nav-link h3 text-white my-2">
        <img src="/static/images/event.png" alt="" srcset="" style="width: 18%;
        position: relative;
        left: 20%;">
      </a>
      <li  class="nav-link">
        <i class="bx bxs-dashboard"></i>
        <span class="mx-2"> <a href="/dashboard" style="  text-decoration: none !important;
          color: white !important;"> Dashboard</a></span>
      </li>
      <li  class="nav-link">
        <i  class="iconify" data-icon="ic:baseline-event-note"></i>
        <span class="mx-2"> <a href="/event" style="  text-decoration: none !important;
          color: white !important;"> Manage Events</a></span>
      </li>
      <li href="#" class="nav-link">
        <i  class="iconify" data-icon="mdi:town-hall"></i>
        <span class="mx-2"><a href="/venues" style="  text-decoration: none !important;
          color: white !important;"> Manage Venues</a></span>
      </li>
      <li href="#" class="nav-link">
        <i  class="iconify" data-icon="ic:sharp-price-check"></i>
        <span class="mx-2"><a href="/prices" style="  text-decoration: none !important;
          color: white !important;"> Manage Prices</a></span>
      </li>
      <li href="#" class="nav-link">
        <i  class="iconify" data-icon="ic:outline-event-available"></i>
        <span class="mx-2"><a href="/book_event" style="  text-decoration: none !important;
          color: white !important;">Book Event </a></span>
      </li>

      <li href="#" class="nav-link">
        <i  ></i>
        <span class="mx-2"><a href="/logout" style="  text-decoration: none !important;
          color: white !important;">Logout </a></span>
      </li>
    </ul>

    <span href="#" class="nav-link h4 w-100 mb-5">
      <a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
      <a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
      <a href=""><i class="bx bxl-facebook text-white"></i></a>
    </span>
  </div>

  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>